In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("My_Data.csv")
df.head(10)

,Job titiles,AI Impact,Tasks,AI models,AI_Workload_Ratio,Domain
0,Communications Manager,98%,365,2546,0.143362,Communication & PR
1,Data Collector,95%,299,2148,0.139199,Data & IT
2,Data Entry,95%,325,2278,0.142669,Administrative & Clerical
3,Mail Clerk,95%,193,1366,0.141288,Leadership & Strategy
4,Compliance Officer,92%,194,1369,0.141709,Medical & Healthcare
5,Chief Executive Officer (CEO),91%,153,1135,0.134802,Supply Chain & Logistics
6,Therapist,90%,114,983,0.115972,Law Enforcement
7,Chief Strategy Officer,90%,184,1284,0.143302,Construction
8,Admin,90%,253,2014,0.125621,Sales & Marketing
9,General Clerk,90%,242,1903,0.127168,Hospitality

In [8]:
df.describe()
#The inf here describes infinity which is wrong so lets figure out an solution

             Tasks    AI models  AI_Workload_Ratio
count  4706.000000  4706.000000        4706.000000
mean    400.708032  1817.678071                inf
std     311.564781  1086.853037                NaN
min       1.000000     0.000000           0.036585
25%     161.000000  1085.250000           0.137271
50%     270.000000  1577.500000           0.199281
75%     608.750000  2273.000000           0.260572
max    1387.000000  5666.000000                inf

In [28]:
inf_values = (df['AI_Workload_Ratio'] == float('inf')).sum()
inf_values

#as we have got 7 inf values so we need to either remove them or replace them
#we will replace those values because we do not need to miss any job category

7

In [10]:
df.isna().sum()
#so we havent got any null values but we can see we have got a NaN but how many?

Job titiles          0
AI Impact            0
Tasks                0
AI models            0
AI_Workload_Ratio    0
Domain               0
dtype: int64

In [33]:
#lets calcukate the median of the column and then replace the inf with the median
median = df['AI_Workload_Ratio'].median()
print(median)

#lets replace it
df['AI_Workload_Ratio'].replace(float('inf'), median, inplace=True)
inf_values = (df['AI_Workload_Ratio'] == float('inf')).sum()
inf_values

#No inf left

0.19928117492056105

0

In [37]:
#Lets save the dataset to a new file
df.to_excel("DataAfterPreprocessing.xlsx")